@import "../../styles/colors.scss";

.ErrorWrap {
  text-align: center;

  span {
    display: block;
  }
  .spinner {
    margin-top: 30px;
  }

  .error {
    margin-top: 30px;
    color: $white;
    background-color: $invalid;
    padding: 10px;
  }
}
